body .w-md-editor-text-pre > code {
  font-size: 27px !important;
  line-height: 30px !important;
}
body .w-md-editor-text-input {
  font-size: 27px !important;
  line-height: 30px !important;
}
.w-md-editor-toolbar svg {
  width: 17px !important;
  height: 17px !important;
}


