.hover-button {
    opacity: 0.3;
    position: absolute;
    top: 8px;
    /*left: 90%;*/
    right: 0px;
    /*transform: translate(-50%, -50%);*/
}

.item-with-hidden-buttons {
    position: relative;
}

.item-with-hidden-buttons:hover .hover-button {
    opacity: 1;
}
