.hover-button {
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.item-with-hidden-buttons {
    position: relative;
}

.item-with-hidden-buttons:hover .hover-button {
    opacity: 1;
}
